@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

@font-face {
  font-family: OCR-A;
  src: url('data:font/woff;base64,d09GRgABAAAAAHBsAA8AAAAAt8QAAQBQAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABWAAAABwAAAAcKIgPf0dERUYAAAF0AAAAHgAAACABKAAET1MvMgAAAZQAAABMAAAAVm6xgqtjbWFwAAAB4AAAAfUAAAJiFS8wSGN2dCAAAAPYAAAAXwAAAaANACd4ZnBnbQAABDgAAAL4AAAFGNSI+xRnbHlmAAAHMAAAXPoAAJiE86qh7GhlYWQAAGQsAAAAMwAAADYGj4TnaGhlYQAAZGAAAAAgAAAAJA3WBmdobXR4AABkgAAAATIAAAH+fzRrz2xvY2EAAGW0AAAB+AAAAfjGPet6bWF4cAAAZ6wAAAAgAAAAIAL7AlZuYW1lAABnzAAABNEAAAsGXuXsS3Bvc3QAAGygAAABvQAAAm07tFf7cHJlcAAAbmAAAAIMAAACpT51oqgAAAABAAAAAMmJbzEAAAAAq8rFpAAAAACzM9qpeJxjYGRgYOADYgkGEGBiYATCX0DMAuYxAAAPCAEtAAB4nGNgZLnKOIGBlYGDdRarMQMDwyYIzfiYoZZJiIOfiZGVk4mRiZGZGSgHwnDg6+/nz+DAoPCBmdXw3wzGb2x3GbMUgBpBcgD1TQxDeJxjYGBgZoBgGQZGIMnAGAPkMYL5LIwOQNqHwYGBlYGHoY5hG8N/RkNGJ8ZgxkTGCsY6xklMx5lOMt1lPqAgoiClIKegpKCmYKBgpbBGUUlRTYlJiU2JX0lISVRJSklOSVvJQylBKVX11Afm//+BpiowLGDYATTNkTGIMQFoWi3QtGNA024ATRNWkFCQUVAAm2aJYpog0DRJuGkpQNMY/v////j/of8H/0/43/i/6H/a/4D/Pv8t/7H9Y/37/a/og8MPDjzY/2Dfg90PNj1Y9cDy/pH7B+89u/f43u17t+7duHf13qV7x+6tujf53oTbOgLfISFAPcDIxgA3kpEJSDChKwAGPQsrGzsHJxc3Dy8fv4CgkLCIqJi4hKSUtIysnLyCopKyiqqauoamlraOrp6+gaGRsYmpmbmFpZW1ja2dvYOjk7OLq5u7h6eXt4+vn39AYFBwSGhYeERkVHRMbFx8QiJDa1tH16TpcxctXLx0ybIVq1auXrNu7foNm7Zs3rp92+5de/beK0pJzXxQsaAg+1lZ1uf2mR+Kv3xNL3/x+tXVjznVDMt3NiTnvT/96WVuzcOkxpZpR45eu377zo2bO74dOMHw9PETBob7DLfuPmruburp7Ouf0DtlKsPk2XNmHTxzufD8hYuVVy6dBQAFSsIqAAAAeJxjYAABVkMQySLAgAaYjzKoguj/t1HFGTPQVZIPOKB4QMAqIF6NxF+OQ90KKth1muEMw1mGczAuYwjDOgZJRgZGJoZ9DKsZLRnCgDAPCKeAIKM5MzfDH4ZPAOQMEZwAeJyFVEtv00AQXid9Ji11kj7Sui1rlpSCE8KbqKogqrOuqgjUllSyKw52mkhpTj1z6q3SJj+CnzBGHCJO+Qn8CMQJJITUc5m1nfQhBJLt/Wa+mdnZbycpl16+eP7s6ZPHj4oPC3njwf31e2u5u+yOTm+vrixrS4vZhfm52Uw6pc7cmp5KJiYnxsdGR+IxheQVyJq2vzhuaLquO4XIXrpuQzyn/taBpK8FaTeSlm/YKzfs1aH9FsgsWMysyMI+sb4DyYAyC0TuomTe4E5REm+0GT+GRbPhuphRYSoF61cxaiWo7ScTJjObiUKe+IkkwiQijD3xFeuVEoCYxTf8GJmYLuQhbUAsx+XbhnLHRcAqWAmZzCXTu+h3r1IE0wYoEyIFxkwYD/alx1D2gHSon++Lbk8lddeYarCG9x6V87BHn8RzvFWTOnL5ui0KI1g8+GjoobxFBZNy8JaLX1bBrL/60T1p2md6X4M0rhxSBmxjxPaHb1pc8OwxlaYQZxQ+7tlXWV1+HcfJYsOCMyyIxXh7C4+SLRby4ZkiARpuW+7Z9mSfvE1Fpxn02g16CEJ5Cy/G+1+UELzBeMNrbIXVTSjXgoXUDu3ggChdxYlcUQAyIwHjVhw9FLu6b5uyMeZVtPDahx438qCDD0gqO9jBAkCPKJB9m2FoSX6aJSKOSsHw6I6CWbuXWTCaUxkV5wQUl/38cd3jRZ6xnHpOJLSY5QphMWoJV3i9i9M6oyoTfrUqTriLu+7amNW7+NLRwOo6oLotZQO1lxNg7duvNT3lDMzdgUlwpHCwksFxUAV8dqIFVSY1W6co1IHtaKiTLXENcbjKQcLBLeEdR7JJjZqloTxmBHVdTmenVyZ1NOB0zw5tSuraJ1IuGngfrmT6A2buQDKnA2aY7jLc5TNRCCFzMLE2fGbU+QxvbYAy/w+6GfKQMe24FnNCFNPiEiUM/KVvwoKBeN0QeAlfGagGjNp9bdOhagr/AeTtvWPVvUObcjGcgtATnvQPXgdheXictL0JfBzVmS96TlX1vtTS+75Ud6ulltRLSWq3JVvttrwgHDCOYxzHMgYMCEPAHscQwzCFJmEUh2RCKGMIkzC8hGE8Hi7JDVg2ueNgJ4aMcRyG8DK5uRkuWUySyYwSJtfjy4C7/L5zqrsl2YY77/d7z0vV6eqj7nO+8y3/bzlHiMEIIQsyI8TCzXvYzHCI/C+efuM0vZRLKTElZuGCode795vQe+SOoEH+MPgsYpg/mMrIjeKotx5wsBzHHw9KqOE9HsGqxWJtRCLJhCjVimf+UZgVmmfQaLNSHC2XMOvGcjrXxeaGhnHFzyoVfwx7zQWczi3BSzHzh262lMoWmW5GkdfLysG1slKGRhlXuJ82d2dKlTTz+XRl8L13KulxuVyWV8sKQhidYn7MRUwK4tFwPW5qOG2aE7EWlV1pXcXMiHbVvdK2ij8k7FiFVx3Bq/7ryvU7duwSzs6enRV0uKBRZbZ4plzypHysWU53sbJxO8WuXc+vWule/d0rxOVXuNablKv0kdWr8aS+H64vIwa9in7CxYAOy9EqdEd9RFnBa8PIZuPqXKUx1pC0nlSgGMCBWI6LsfLKhtqtNEZGqv0vVnF15orkCqyGhYbF4vQ5D60Wzo0I/yicGWmOjAj6RKcNYxsR/ueEMDLSPHOmCE3SGhkBSvq8MEigGlwGB4Cag53GwBAlq9JpVPw+QmNfp9H6UdanDDKpsiyXNxBirl9PrhvKcrpyoJKWlQ3pylB8/fqUUsxuUMjDA1h/VVYU+VXS5VhZzpRelcuV9KvGFV5Xvl1JpxSjD775298ma3MaMVwKaKSgLfVaQCuVvEWt68U4jtcdrmo8Ltdt9qrMejVTI+nGbrdN8qmFBj6aM6vOkhpuiEeTTufgAOGlkbOwYM2Rs2fIihUnzsyOFpRiYWKkKdaKs0AREaaVWkgWJTWYgoY4ny4pSgXoCQ0uocgXUCWdqejpSllm1jW/QWhwvphPlzFD5tF8lgEmZB7X30hXTpP3XiX02lPK4LRcPk1+6DSh1ScrRJpOIQR8WAY+TKAi2livhARRnAqGvMFgSAhFIrbjiA2KHk/yeLd0l7AnyAiheKP3eHamLAb9DdNx56GScG72bKVC+LJSmUCjs7WiohjXaXd/Ydp93wmY6QKxGRiyYTOdbhUP0SW++H2cOCgrlfSz6VKFtTQ3+tKpqp854MvKygV0kMzpGblYMpUV+YukmyYr+k/PPxEqp5MxdluoP5NuiqWMJpfhkikhMs/XYJ5p7gnUi6poFL1d/1CPs390fNE9o1wWM0wmunRJLLZkyRST8cKryOiiReGq09HXF160aMrR53U4+qqRaDaXG3KOLsVoyIXQVG7IC69NQZur6jly4Tf1xdBwDfWFHYvMSyqaJxNLLNFMKMewhUbCY5KYJX0uxyJrnxoIxDIoZ0o38jPLhhapgvVQHSSpCTJ0JqAUZ4FtamKtBvyinA1UhFkgY7EpBmqFAqUmd98Jt3DixMiJabiNnBiZ5vqDhen7TljcIyMWN4jatAkeuO8ToMMJ40m5hCayXZY2bUdxFyUx0WZAch4HqsYaQIuyWZodHMhBZ3MMB1if1z+Mq13sF7dNOeVnb30k9aW/SOyfPDi5v3DyyIaYnC6GN24MAn/9D7Ik5UceqaT3bp0JTd4p7N++uzv6qYPp3lsn9++f3FnMPvOdVSHgu8CHboyk0yV27TrCq+uf1L+6Ti6vfwnkDr/KrGTTlBdDdbvNhlhupUV1rgT9t6M4SyXIYCSf18JS9gEhYbqelivsAe/SbLkI/JB22JvfHh3IMUp+CJHPPH2hye4CPRtBW+tDoXB4SpS8oiiB+p9yOGFdnVJIDHNe1sE5Wc4mwV0Kh8wBp+gOmLFqdrtjUSLIoG5HYFVgHdBoQIF/ZDEMKrfITaU54DEoCNYCBlf1tAlrZnZ3/T0/IGe9r6xZ84pPlgf5v+9ia/rRZZULSEzk+8OY2XIHvmX79ZgJ93fHJV2BsX8Kxt7dHjvHslNOh9fpdIRDoSlJ9EqSyDlYJ2djQ1JY5LxSGAYfksjYeXMAqQGe/38z9oEipuqnQuYgtikM3DLEfKr7pHswLftOj4+f9mXSA+6T3fgcXjE6oHuiXeWwrk/coX9px2ZdD5fyMPQK0aG/Rhq3CORNQV99AVkvPPOc6KmiIxeeqW+GRng9XNLkYkImqy1sS3NKL5mVArNSbIIsT/XYvD09NqXXJnCORrnMyT0hiQs0slw2HpLgobvhPWqJqKkeuVfh+hv5oziVautckCOqdAMKItJDxIpe2+qIztvQS2iiAH86irYlCRYXNtax2DE8lpa+6mtTiVlEDMyJaCbTH9L/gJ2hkpyKniB6+XgkJZdDmNf/V7iSTkfYde+kK5X0+QMBJZXx//pXflmuBA6cJ8/eedqvyBnfr34dyKaVIKK4AL3Npbgx0MaVepg7mvAeDdkSGh9yHhWjRwOWhqjiQCCVpBNtnhHgLyoS5QENuop0AmLbYIheQ05ShmlhUpVMumRYiQtIAaug62QczNuYSZdKaV0v02eZSiWDGWIyqQzdjRh2F7MVSShWd9s0nuckrDqPWixeDwVMVDTb5mze18Eo2F3kEy8gYm4xGGvGrq8h6htvJdQjHw9zfhXrXIz5A8i9t25zaiY8I1oPCcKvhN8h+rF0KoZdIJ/JxcpycxP5FObp5ADzxDiZDmCrIhnrSfQTNsZIVIc40TGb6VjJiZ1OUSAjnZhFxealxohJHCRWEfRXhZHK8heISfmiXKZj++WFC1zRVIHPW1JPftSKbfAdU1ab12q1IZuDxVZWsiH3jIitZhjyOWIHYVqgvEcXmL+Jiw0eF25uEORUzcscFDPJGvfke3vCfXJC5v4sUpBTFLMCLzBciGJED0rVJUnjWI/mkgTVNuPzqOiQFywvmF0wuaNApqpokMcnGuTKAiA+tbXBOJddd93y5rmxLcwBHT3Fzja2bm2c9yy/7ror2DfPp8gcT8L3BEDvxlCpHmY0GysIDqQFJafqPepQsbkROYpxIk4oePaM0CTwszkC4Bi+FBB3G7aISpv7jO+HhziGGZ0u99MHCB+01u0g+yZ59d4evIXQXb9KBkOeLlF6fw/GQvBpHJXrkYBmMmGr5maDGpbMqscTnUkGVUcDH0oI587MCudHBGP2EoVTMBg6kDn2M8bSEgf2ZJO7cQXWmwcypVKG2bhy27aVOsOsBz5kmLGV2/CXyKhuXKHfsupGfRtpt2iTgPEUUKPOs34tGrWntTwraHaJPXLhZ3WvLVFlzSmQS9Qwz4RC2YbrUC8MDoz2meYZqVbojK9GBcQynz4w1oFcp10Zmi85XAyGtLL5LOXztUAl2sIw2uYB+mzjyhu4vfpLd4xdtVk/suJGMl4MzkUpQ/utoHMx5OtdkN+3gY8SqFqPhRqM5rHbY2aeN7MxadSP/U6kSv6wXQ0zxFYooE6KgONApltaBigrpjqqpd0wVIwh8sxZ3UwEGq8lX0sGAJa+vAFvYbspIp3C/0ruupfqlyehAxnXz4G2YLRRGg3Uo6zmcvmdwOLxONL8oGCs0kzGpbJs5JAMclUETh+ZNZyyueVOzWm6Oc5vG7IE9jMMfkDnmLWUzTbhdWPbYHnvHRhWlf5UKHWn9yD+MvMvZKj6TdvG9G0rbgwN+oblMl90IuorGbwYAAsM3BjUrFbRomE2pIlSWHXNxDjO2gip3kNR4VzzbKXYlkVjeC0nRp43MopYPDBqnF1vrGu6AtTZAgrnLnzeVCYjaf5IoRJRSXPTcvn8p/Rz2E7tAtEFRRRG6+r9Xo9nymb12mzWe63Ya/XYOBcXDPqBeC7Jr6KjgtWrmo/aPDZVEKIRkXKfcLYJ/2GAhISiFKhNEPXEUevvMXjRa+locNBTYoo0T8Eo303ocJOVOB7SOakhlzltNQz0fHdEf0ffQ7QlPlAKYzOurS4TrH2SjtWgWwLV65mo5uJCIR8QkI1pPkI7V1wVZ1Ih9Rsc5rgY6LKk0JwlClrQm/OEemSkrdg6ym2OmBg0DoxSPLltJfg24A+ObYNFZFbdiNc9qx/E+jP48RU34t8TQuvi9avI8k5yCf0m/BfNo/o2/GWqY19D8P0gG2Ssg/U4WWMU1gQW1lkqweBCDc6i+mZiEdVJlpmMr3KGiMec1mkpQLG1vm29w8LQ2JPrCes1v0Gt7FPQ3q0zHBECpgBUe548fm+PXGbvw1b9HRKnOA32K8FtoP5Yss6j47bQcYA7vuOuaLRt9kcQkdPLGDLPxYYtdSBTUVLgK5XlA2SdSIvbMBT/YrpSysCl+Xdtc0fdJPj+naArPs59Fb4/TeIk8P22kJZIeCVRDRyNgr/XiEYzMjUFs5SdwPIrlxvLZcAAPkldN7hU8MsEKV1A6RLRaSmF+2pZfoi8+RAManI+RlBaGAE9BLjoa8iP7qqv+hyLHXN42Od0uaa8Pq/X67uW2+i9hZv07ubu8Zq9Lh8rAURmnSbJ5NztxC4v5+Bs/EzQxzpZdCggnAMHSx8JgNcaAqAYLIJUFFuCcRFOxBOeOdttsbXgYRfOvaow+yORpJJtPsLcllWSoVhzu8LsWVaJ42mpkin69Yd1LVjMVCQ8HSU2HT/PRdjvIRfwW7Iu8JrPhzUL7wiBNpEIh4EfOELVHFEh8ywZMNTCV99rbqRcRa1Buw0cxiYAdVaoon2EQDzi6xs0fAtoONSm4QM+oIfPN+V0AQ1drNPhmOJYL8exq7lV3o3ctd5J7havmZCPEtIpmSXnPU7M+oB0M0EHB8TkbYSGI4SI/zkaApKztHGQrQ2ksZ8bKje3x8JJJcdsb+7PARHjzP4y861lSkzfI5WyJTvpCxcv/JJv0CQxZ9Q+CZVwSVioYpVJB5VvBL6cVmn6dRrPvXfs+z0ysbmWMHDHG9M4j6z+eYTzZ1kqUnwJinhLXYmyCJkaZvWGmWPTbP+XHM8wJT8YrxlGxkAhR41e+O5zoRCKk4p5RbZvy+Cv0ZqXtQiOXnPDCgt4YmkO82c5/R5WU1Mff7SzOlKqt72IZbJrss0E3q6BimtIaN1XPTdgOjPgz8z9UDnmXHN6t61Es8hp6EAFoP/kLsEoPg2ybvlg/L35L+QDWbZLzNmuT/RpTRx/b7+nv6h/pX9Bhvo72dzSgaximxbQIoJtnUWeghQZQNuRAV8cZPLzvyB/LP57+fZZ1MQpVM9qaEUsqQCKYZ51o4/sEOLPWBnmJ3MAeZZ5vsMi3xCE1Z1jQET8AKG6eoHcp4xdizoWdAzp6ODC0Tdc4qB00PCtSv/0i/8I4WTioR+ai2J3awdXTs6ql1IRZ424BMD918hLidx7RrC5yr8Ys0oueNhCzNVbLUppJ8DZPDKSLQ5VX9jNOlN4mzR2vD8Y/72AvQlc/hUeH/NnvS3H0yLYtrDsh5yf/hp74J1wzBOv/63pbHfhy9kstlMyWk2wbfS2Wwann43625vTXfcvwwGs+l0NuYKJsgd+sXhRHsmnZU+JI+RqCdM7qp/ajXzY/Zf8f7uAd3g0TdA7s6kPKfRVwiTnLMEufxBTsm9HH45MZE7Ez6TOJnjsl25cCwRSHOCwUCTCUIXvN7khTZ3gxteaGtQ/ZOiqCUvTeepjyrXSQYRxmvpb7UR0c9PE4VjlT3LOhKrkZlzoDUcbj0QS6VicBxfmTHyvMrt9TSuwq1MXzD04ovhYB/7Yumr0XQ6Cv8kE45kMpFwRnues4DnF5Teou2LI569ez0jVViOHvC0LCtZRZrITkhvZA09AGiVYVszmbFwyB0Oh2xWOxcKB2PJGIfNNHuxpxt2E9xT9+t9wWKhHbbrwKr2072NSicyAXOUzSjNTqBibzthpTQS8TORyUYcl9nawjrUVatrYXRjqHahk0CHyxOC+qRCukuKcnyb0P6lRAG7Iezzh/S4nm+f4waJLS/dl7y86/za/VtS1JF73JOBXXP7sd7hVVEbpeflgdKPwzHVzSs9vB5u2Ta1esf60pGVj9Xy64vgwdObbXts37IhwrMpu0hmIQkOOVFEsfGtCuukgSCvTsho8+GDlEB2cskid7pTZWV0ku5r1IyEMaMuCzBVKQCAHPXsfVqAUydpXP4zmvIPP/z8cCYhavwZNbNKmQWbSxNlnsbWMnejViuI+Go5bJmsk3tNVotljDO5Oc5EyLfGVPIt6/IGV4GxWS2cAZqQATUo0IlMVsRYitzrvK3InLZrPVQjXbQORdvBu5mAMtChMv2bZplhIxu7/Spc7p/d64crjt8BWH85hDYNDt4++vE55o+nv0ZyeQBWyNi3qV6YkT3U/kOa/XdKtf9ORoVrn1whtXe/sAV4UbUAb1YsQJZWFPsW0ZXIXLh1kXLQSOq9zCkaoblR98kpfAyOWS14sVj8pNKDxW02WyxWARsfQfPJgNWt4GkCFA6I1D+Nl8GnJLVjholfjlDg4ZiltyENTIwzObWeJvxS6QStqRmffg96UtpchlfhlVeIAl3a1BUN9ao6NLYxvV/MTp2qTy/U7VQ3sLC/NKSwPvQN+csNEJqZnXCf+S/Bi9zfgJPcJfAW9wv4nrkE/9NsW8Ud4o6Ao3Cc+3PwMvwB9yb3puXNhnPgMvcT8BH3Mfg1d4e7Y77T4LbwDPMPJovbZLKYcJsoVIg2jHa7wyiqHn2s09doSHB0+1frtST2n26d9YbC2UZ2Hrmxx2/t84uhJi97wJ8NN1H94AJzCIWobhuQG9hzVp4/14lVT84hUDYKom7e7Vcitv8kLcfYnGc+JorRd4ndQt4nAsj+gPL9LpfbnQ6nyzFmMuKeGJ0uFy0fCBmTkYGs1e8PWZ2sSbHbWag0IlbNjiNZjVj7ULtYo31wqvYRV7N0ymZUBJaTNNgVUul5f3cuvKODpMRv6PGIsMvVv7VFFNmDt/52eM7VXCKRE9ejE72kocYaXgNjbJzZgfWjMEiBR+X5jwa3RrYFi5Gngn8aORx8IXIscCx4rOmvIieiJ1L2ZQZZWGsYEfYZtgvGgCOqCAaT3d6EUoopGLF4i42NmXjRojJFqPnNxFh1Eto6crxBdQNLVaBV3oKk+unaoMkr5ZOpeHMIumdDNr6n78j2bUd6d+/ufe4rW5/r2/MKt3TR0BKuVBxaajQugVJh3/79e/oO939t797dvYcPGx8YGXnAeJj6bAmvqp/6bLFtiBCnuJHd7lQsxiJwFi3AXLS4aFLflQqDRZVfMq4XLw1ByRFTKRyOl4zqKrqJ3qN0YzddcA1tGH6t6gjX4UH2AXQD7zuDYLVs2eXf1ftN/zd72ejrd679yO0tUDdfC27MTisScfNJUluPEq8lcJqTtev+PnX0VH9fFZ3TvR1/6HdzDGZ+67doVYUNanUDu3IZ3x1vLxVX88YV9/NVvsTmdpVD5rtskL0CJPAVub9NwraRubU54HcI8Xir2TwmxN2CELcmrRxwKH6/1BZQks28YI63sva0vRFf2LB4alb4ZJfwqfArkvZA1/2ghCdTXqQXUQ3j0bCmgaKcKci5bDOXx0BfLwXdaC6HMnVFgjkOIzSmObHC2R+XDHO/Rzb9DxaWPlWLka1s7I0WDPPGya/+ocoM88tCLsHbfkjOgikaBi7kknb7a+V6GJcp7jKP9cYEeEoeGeKG+D+yIw+PrRDgwfaQhxQUGFOJz1dyD/GbuU3817mdvNHOe5ADmjkEjA4jSCjhnQAGOMi7PUZ0qsVuBjHWSqj0vXnhtjc/iieKH2uUPi3QOROlHhytMJurGX66NVWLtvkO80RSivpD01skiTkSDEalZAfd+mk6MMqUFK+YzDngwZA0LxeBBx35RNZzWygnlpfrgES0fv+h/OBOZpd1l+sAOuA22FzkJKRqI0M0B8S4EWKG0GLXSvSQazPa5DIiC4MMLrcNWR0GhxX3PfB1K3RbmQALTrXEkMVmdxm5qs6LX6j3JJGxnpmR6E21ntRIbnpLKBCVWpgt00da8DiEmSNqIvT0coKzQJwUKu11iMlOD9wKn/R2toiO0t6QNL2magAY8KpWw8aKT5Ut8gBv4+02mp9gawCwwdZAnqz497fydt5mHzNiY93eYDQ02BvIkwk/8UaTGSES4FMP5EE8zzmNwp7TDoOD+l3/gJ5+KUpz5HVZoYuNl44mO8RE6SjclBCziZeu/+Y3zPj0xMAA8wizemBg+iV4tPR4aSM9B/9/fDyqPhaitRhnyaG4EkJcWlAEH/TxyGYqtp/KutM+rugWSJnFPElyIuXpRHFwlHpCqny99yoKQllFQtTjxc5UF4QZieeWqzVBZq4NouJPKvLOlZOGlsYWxqSkkdvWpAgJmOCxvSw0mYrgVDZqS7iL0aZquQkzQZXooxU/dbloSdtMxU2kKtm/o1UweaW6D/B8c17Lg9eLmNT3oVnjdLhMsTM52QdDje+a/WY/tkAFFGsMmS/EoOsCbCB8DmQHpREAlbiJuhnjOm1drLmMWJL0NGAtvf2Am6Svl24sIbez5OJuTqfR8DBhVBheApeTe+k6ZVa4TjPdAfgfKCPUbQAAeJxjYGRgYGA8czYnNqY0nt/mK4M8BwMIXDDadhVG///2bxo7A9tdIJeDgQkkCgCb1A6TAHicY2BkYGC7+28aAwMHw/9v/8+wMzAARVAACwCgpQZNeJxFULFKA0EQfS9YWFhYBEIKEbkPsLLyF/IBFlbBH7A6rC0sUvkH1iGFhYWmu0qOZVnWEEREgkiwSyVX2MS3c5t4w+zOzr03M292QaRvZ946f+AQ4HVGBnpe4xuOJQJrfClb41n+i0+h0isKc2nxUhYsmlmNFDl4HqlayFWTR7nP97udQUyPxbrhjbGj6nr18InNQ/UuMM38YLcXyuNJ/JSLnZ44jU0fbT6nTNIwtr6VfLxuhKg44kJdXjBlyQ9h3tA1e8y120nnqr95tdO6rCC/uI/F9k/MG/u3wVal4542cIuLrH7DqUzDzHZl+xGqL51e3BahLE+xwooHWHZ6nHCIRpkBT6R0qPlL7e1OVklXH1eq4fmKM5zn/Ramvcuax3hQ3JiGGvdCFyg4+gNpnrBAAAAAAAAgACAAIAAgAGgApAE2AawCIALyAxwDegPYBHQEvgTuBRQFPAV6Ba4F9AY8Bp4G6gc6B4AH1ggsCHQItAkACWQJogoICqoLJAusDBYMlA0aDWANng4QDmIOvA78D2wPlBAsEJIRFBFaEhISehLyEzITchPqFFAU5BVAFYQVyBYGFkoWjhakFt4XWBfgGDYYtBkyGYwaKhqIGuQbSBvAG/4ckhzyHVAdzh5OHqofMB+OH+ogcCFOIfAijCLsI1gjeCPiJCwkLCR4JPIlciYcJrIm7ieWJ9YomiiqKTIpXClkKjwqUiquKwwrUiuiK9wsLixuLJIszCzgLWgtfi2ULaouTi5gLnIuhC6WLrAuyi9SL+ov/DAUMCwwRjBeMHAwiDCiMU4xZjF+MZYxrjHAMdoyUDNwM4gzoDO4M9Iz6jQ6NNg05DTwNQI1FDUmNTg1+jZsNn42kDaiNrQ2wDbMNt428DfIN9o37Df+OBA4Ijg0OIY5PDlIOVQ5Zjl4OYo6CDoaOlg6yDtSO9o8jDykPLY80DzoPPo9WD2gPeg+Cj48Plw+pD7IPxg/eD+6P9w//kAqQFZAhEDQQR5BbEGyQiJCTkKoQzZDgEPKRKJFIEW2RihGeEa8Rw5HMEeQR7hIEEh6SLRJPkm+SjpKuksUS0BLmEv2TEIAAQAAAPsAUwAEAFoABAACABAALwA4AAABrAF3AAMAAXiczZXPbxtFFMff2k5s8ksVhIqKACPBIUX1OiGq1ARxsNIUCSgtaUUQl2qyHnsn2h/WztiO+wcg4A/ggDihSkgIVYIDEgjEnRNHLhzgBP8AXDjw5rvjNHETftyItbufmXnz3ps335kQ0VrlGgVU/r1B9zwHtBQse65QPdjwXKULQe65xjafeJ6hheAHz7PMf3hu0HIl9DwXUG3H8zxtzNz3vEjbsweel2ijfp6jBLUqx12ovwKeYT5Xfws8i/4DcB39h+AG+H3wI+zpY2TrOKAV+t1zhXN+1nOVXghe9FyjleA9zzP0RPCl51nmnzw3aLVS8zxXocq253nqzlzzvEjvzPzieYm6s/fBc8j5I/A88vwUvID+b8BL4O/B51ye9R/BjzE/Wv8VvAybP8GPOz+NOfB5199YAV9wcxvPg5+EzRb4Kdi8Bn4G/Db4OdjH4CYY9Wwg58a74NL/B44Xyv57YOTf+IKukqYeP5afu6SoQ4IfyW3JFFFOfRpTAauYewXd5q/i73Uey/ixPN5Hzza3Cmb3lvDoLASt0yb/1qnp6TKF3NumhH/imG+DluKv4u8Q2YREV3VPW31XdURHWimivD8udC+24nasxPU8y+24r8R2XvTzQlqdZ2J9c3O9ya/LoWgniYC1EYUyqhiqDru8wbnuIgdBO3TIsRVn2kFEurG9K9pi59CqrKO4vcvdPRpwspLTol3VGySS4eECNPn5W9dH2TbFdJT/lNKbqJA5VuGQrtAaD6jCoALhlbWJz/ap/toPvP3bnaTTik20B/nEPM16aUiOMUQ8J5icunj34Sji0QTSilFPyWSxnHLzneR6PFMfE9CqX8lFZsNJGsxI+XsJ0QRbKS9e5zOHhATHzeF3srAuoikIbcTxJ3YP52K8+N2uO6/7sFNs4YqesD93TDQy0Rzd6cO1Yp/FPixSeIxhUUZ19XeVSVCP0tYyl2uX1q2wX+GRmppQhYYHw5EiVFtiheWKytpL1DtGlmXOCvVTU/s/iTnZr+KEwgV2NIMWM6z39N1ytXNZ0p62sbB8GGVnqDIr8q7I+1ZHMhFRLAsZWVXw6YvyXqZxPldZfxeFGRurUnNJSJEpPt2yyI0S3bwQTmNdGSkjRrHrO/Ji+PQPko7YV0JJo5Ox6GhjddYbaBOzi/2xSGUU64yndtRQJXmfe23O0SV/1aEN3cFrtoU2wgyimGO7QJy9tCKWhj2rTCh/NNxMt66iPPJiT2einRl9bFlGWa6Au70sb+gWtfg3wi/k7T95rkJIKmULZ59yuVv8tmwj+avQMnSH5zqBlLZu1sSaYmv7W63WaDQKU38UwyhPW7FNk1ZqM5mqVmrujFTCvSp03UQ3eWYpXOVFneF2jyCWiQSGXh6TA+PkUc4rIIUUI+Xh3sfBsLDQkF/mvZe3t8WdHh0dYONEcjPhHeOtzDPLlUNZWSwdt9u54LEiE2lesIb284EViY5UZlzljS105FRj/ud1fh0VSnG9ETNfAcEi+z3guL9xT3Zi/Bb2IMP/2sJdydUPq59Xv61+x89X1a+rn9G0xwctibqfNf7zlLXbxZPxfMQz/SdsN54erz1dW6+9Wnu59hK/N6fiZYhxtj/Xkqwxd8G5OhBfLQX/Bl6L/zT3zNZfVLsh6gAAAHicbdBVkJUFAAXg718Wlu6WDgkV715acokVCeky6O5a6e6WkKGHZoChQ0JgBlGQZuhSUklRwhcfiOU+cmbOfHNejyiJebXeeu/L/28aiJJEtKSSiZFcCimlkloaaaWTXgYZZZJZFlllk10OOX0gl9zyyCuf/AooqJDCPlREUcUU95GPfaKET4XECiuplNLKKKuc8j5TQUWVVFZFVXGqqa6GmuJ9rpYv1FZHXfV8qb4GGmqksSaaaqa5Flr6yte+8a1WWmujbRBlpXHG22+e+yaYYaol1lkVJDEliDbWHM88Nz1IapLf/Wvpmz9eeuE/K2z0myM2aae973VwXEdHHXPaCSed8kAn55xx1mad/WOWi867oItHnpism66666mHXpbpra8++ukvwQDfGeihQYYYbKjhhtltuZFGGGW0x/621yW33bHFVnfds8+f/rLGZbdcdc11N9x0xR8W2Wa7XX502A47/WKMQyba4FcHHAySmRbEmB8kt9ACT/3kZ6vNtthaM831gz1BiiBlkCpIHZPQq2soFBeKWCNi/DurlY6umdCv99sRjg2XSTQcSjQ+FApFjI0YjljyNSE1jL0AAAB4nH3QXU/TUBgH8HO6Oc+ga3XsdC9dOaL4Wl87RdSbZVzuhgBC5yABhYXJwqbFlxtSFrIMQmZGFkO420c4i5nrlSHLbvBTeOln8GY+dcZ4YXxyfn3+T0/Tk9bpn3z6SiMTTv8k6T+FsNP71hNgaveGhieqtuP5/pk1bIOV3ZicZHW7aQusi4tduyvYXzDqwFru1DvNjhe16+1m2zP6XtHeKfG3ivpGiW0pUUspKQ5ByYhWKCrheKEYVgvF6Mamom5s2q9jL0PuZl/L5UM0nstTNZePrq2H1LX1yqvY8dSPsSPQAIegBg7APqiCCtgFZWCDbWAcLxJ2tETYR9CAfAhqC4QdgH1QNQmrgF1QhtkG2+DFCmHPgbGUJWwRmPOELYCVp4QtAyMLl3mgPoRfRekDGrxP5QQVDeq/R313qecORbfpzVvyDV26dl2+clUavyxfvCRdGJNHmaTGtUAkGgtQJRwIjoQC8rnzohiQRP/QsJgc950losd7RkRYEJM+XJKx+oQw+TFhnkeEoUnCphOYB9MoPZfiIxj6bIon9DT8vRlu6GlOprNmC+MPGbjLhT0Hoznu3XMEaMGpZ1nTwVF3u6LCaLa82ME7lVpN/ZMyGV3jq+lZk5e0DDfcUNcySIeyLP0/hXU0aIPuht+F/vn0X8Uj7kGpwdDyu5+xOpOyrC13/ToZ3vETRom3cg==') format('woff');
}

.not-found-container .error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  width: 100%;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
  overflow: default;
}

.not-found-container::after {
  content: 'error 404';
  font-family: OCR-A;
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  animation: noise-1 .2s linear infinite;
}

.not-found-container::before {
  content: 'error 404';
  font-family: OCR-A;
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  animation: noise-2 .2s linear infinite;
}

.not-found-container .info {
  text-align: center;
  width: 200px;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 280px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.not-found-container .info:before {
  content: 'file not found';
  font-family: OCR-A;
  font-size: 100px;
  text-align: center;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 40px;
  right: 100px;
  opacity: 0;
  color: white;
  animation: noise-2 .2s linear infinite;
}

.not-found-container .info:after {
  content: 'file not found';
  font-family: OCR-A;
  font-size: 100px;
  text-align: center;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 40px;
  right: 0;
  opacity: 0;
  color: white;
  animation: noise-1 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

.not-found-container .wrap {
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

.not-found-container code {
  color: white;
}

.not-found-container span.blue {
  color: #48beef;
}

.not-found-container span.comment {
  color: #7f8c8d;
}

.not-found-container span.orange {
  color: #f39c12;
}

.not-found-container span.green {
  color: #33cc33;
}
