@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #ffffff;
    --color-text-main: #0f172a;
    --color-primary: #2563eb;
    --color-primary-glow: rgba(37, 99, 235, 0.2);
    --grid-color: rgba(37, 99, 235, 0.05);
  }

  .dark {
    --color-bg: #02060a;
    --color-text-main: #e2e8f0;
    --color-primary: #22d3ee;
    --color-primary-glow: rgba(34, 211, 238, 0.4);
    --grid-color: rgba(34, 211, 238, 0.05);
  }
}